.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    padding: 10px 20px;
    min-height: 100px;
    width: 400px;
}

.contentHide {
    display: none;
}

.accordionIcon {
    margin-left: 20px;
    border: solid currentcolor;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 8px;
    pointer-events: none;
    transform: translateY(-2px) rotate(45deg);
    width: 8px;
}

.accordionIconRotated {
    transform: translateY(2px) rotate(-135deg);
}
